<!-- <ul class="list-group mt-3">
  <li  [class]="getAllBrandClass()" routerLink="/cars" class="list-group-item list-group-item-success">Markalar</li>
  <li (click)="setCurrentBrand(brand)" routerLink="/cars/brand/{{brand.brandId}}" [class]="getCurrentBrandClass(brand)" *ngFor="let brand of brands"  class="list-group-item text-center list-group-item-action list-group-item-dark">{{brand.brandName}}</li>
</ul>


<h5 *ngIf="currentBrand" > <!-- burda if dersek categoryler sayfa gelince direk gelir bu olmazsa bir kere tıklamadan gelmiyodu -->
  <!-- {{currentBrand.brandName}} seçtiniz
  </h5> -->


  <ul class="list-group mt-3">
    <li
    (click)="setAllBrand()"
    [class]="getAllBrandClass()"
    routerLink="/cars"
     class="list-group-item  list-group-item-success ">Markalar
    </li>

    <li (click)="setCurrentBrand(brand)"
    routerLink= "/cars/brand/{{brand.brandId}}"
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)" class="list-group-item-dark" >{{brand.brandName}}</li>
  </ul>

