<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded!=false" class="table table-success table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Car Id</th>
      <th scope="col">Brand Name</th>
      <th scope="col">Color Name</th>
      <th scope="col">Daily Price</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of carsDto">
      <th scope="row">{{ car.carId }}</th>
      <th scope="row">{{ car.brandName }}</th>
      <th scope="row">{{ car.colorName }}</th>
      <th scope="row">{{ car.dailyPrice | currency: "TRY":"symbol-narrow":"1.2-2" }}</th>

    </tr>
  </tbody>
</table>
